/** 
--------------------------------------------
Card Flip
--------------------------------------------
Setup a mixin for your flip so you can include it into any element that has this or similar structure

 <figure class="card"> <-- can be any class you need.
  <div class="face front"></div> <- required classes
  <div class="face back"> </div>  <- required classes
 </figure>

Supports arguments for Speed and Direction. 
The direction you can specify using "x" "y" or "z"

Use it by putting "@include flip();" in the parent element you want to flip.
You can style the card however you want. Here are some examples. 

*/
html {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Sans-Serif;
  -webkit-perspective: 1500px;
          perspective: 1500px;
  -webkit-perspective-origin: 50% 50%;
          perspective-origin: 50% 50%;
  background-color: #242424;
   background-image: url("../assets/campus.jpg");
   background-size: 100%; 
  text-align: center;
  margin: 0;
  padding: 0;
  width: 2000px;
  margin: 0 auto;
}

.title {
  color: #ffffff;
}

.card {
  text-align: left;
  position: relative;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  font-family: Arial, Sans-Serif;
  width: 400px;
  height: 300px;
  color: white;
  display: inline-block;
  margin: 10px;
}
.card.flip {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}
.card .face {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform: translateZ(0.1px);
          transform: translateZ(0.1px);
}
.card .back {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}
.card .face {
  border-radius: 5px;
}
.card .front {
  color: #ffffff;
  background-color: #004d99;
    
}
.card .front .logo {
  width: 70px;
  padding: 10px;
}
.card .back {
  font-size: 18px;
  line-height: 1.4em;
  background: url(http://imagesci.com/img/2013/12/space-stars-background-3245-hd-wallpapers.jpg);
  background-size: cover;
  color: #FFE81F;
}
.card .back img {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom: 3px double #FFE81F;
}
.card .back .description {
  padding: 30px;
}
.card .back .logo {
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 70px;
  padding: 10px;
  border: none;
}
.card h2 {
  text-transform: uppercase;
  font-size: 22px;
  position: absolute;
  top: 170px;   
  margin: 0;
  line-height: 0.7em;
  padding: 10px;
}
.card h2 small {
  font-size: 42px;
}
.card cite {
  position: absolute;
  left: 0px;
  bottom: 0px;
  font-size: 10px;
  text-transform: uppercase;
  padding: 20px;
}
.card cite a {
  color: white;
}
.card cite a:visited {
  text-decoration: none;
  color: #aaaaaa;
}

.darth h2 {
  font-size: 20px;
  line-height: 1em;
  bottom: 80px;
}
.darth .front {
  background-image: url(../assets/tf.png);
  
  background-size: 100%;
  background-position: 50% 50%;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
    

}
.darth .front:hover {
  background-size: 120%;
  background-position: 20% 30%;
  -webkit-transition: background 0.5s;
  transition: background 0.5s;
}

.dragon h2 {
  font-size: 20px;
  line-height: 1em;
  bottom: 80px;
}
.dragon .front {
  background-image: url(../assets/dragon.jpg);
  
  background-size: 130%;
  background-position: 50% 50%;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
    

}
.dragon .front:hover {
  background-size: 120%;
  background-position: 20% 30%;
  -webkit-transition: background 0.5s;
  transition: background 0.5s;
}

.luke h2 {
  font-size: 20px;
  line-height: 1em;
  bottom: 80px;
}  
.luke .front {
  background-image: url(../assets/gnc.png  );
  background-size: 200%;
  background-position: 25% 20%;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
}
.luke .front:hover {
  background-size: 300%;
  background-position: 50% 10%;
  -webkit-transition: background 0.5s;
  transition: background 0.5s;
}

.mememe {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 10px;
}
.mememe a {
  color: #eeff44;
}
.mememe a:visited {
  color: #eeff44;
}

.cmg {
  width: 50px;
  height: 200px;
  transition: all 1s ease-in-out; 
}


.cmg:hover { 
  transform: scale(1.1);
  z-index: 1000;}

/* {
  border: dashed;
}